.canvas{
	background: #eee;
}
.btn{
	background-color: #4CAF50;
	border: none;
	color: White;
	padding: 15px, 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16pt;
	cursor: center;
	margin-right: 5px;
}
.toolbar{
	width: 500px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
