html, body {
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Sans-Serif;
	line-height: 1.5em;
}

footer, .push {
	height: 50px;
}

.container {
	padding-left: 200px;
	padding-right: 190px;
	min-height: calc(100% - 80px);
	margin-bottom: -50px;
	overflow: hidden;
}

.container .column {
	position: relative;
	float: left;
	padding-bottom: 1001em;
	margin-bottom: -1000em;
	padding-top: 1em;
}

.center {
	padding: 10px 20px;
	width: 100%;

	background: #fff;
}

.left {
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;

	background: #DAE9BC;
}

.right {
	width: 130px;
	padding: 0 10px;
	margin-right: -100%;

	background: #F7FDEB;
}

footer {
	clear: both;
	height: 60px;
}

.footer-wrapper {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	
	background: #fff;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	color: DarkGreen;
	text-decoration: none;
}

.header, footer {
	font-size: large;
	padding: 0.3em;
	background: #BCCE98;
}

.header{
	height: 60px;
}

img {
	height: 100%;
	width: 100%;
}

#logo-top {
	object-fit: cover;
}

#logo-bot {
	object-fit: fill;
}

#link-current {
	color: Olive;
}
