.about-main-text {
    font-size: 3vmin;
    color: DarkGray;
}

.our-products {
    width: 12vmin;
    height: 12vmin;
    margin: 1vmin;
    transition-duration: 0.4s;
}

.our-products:hover {
    transform: scale(1.2);
}

#page-table {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
}

#page-table th {
	border: 1px solid;
	margin: 0;
	background-color: #999;
	height: 2em;
}

#page-table td {
	background-color: #eee;
	border: 1px solid;
	height: 2em;
}

#slider{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 300px;
}

a.link{
	padding: 10px 25px;
	background-color: #4CA74C;
	color: #fff;
	border-radius: 25px;
	text-decoration: none;
}

.singleSlide{
	background-size: cover;
	height: 300px;
	position: absolute;
	left: 100%;
	width: 100%;
	top: 0;
}

@-webkit-keyframes slideIn{
	100%{ left: 0; }
}

@keyframes slideIn{
	100%{ left: 0; }
}

.slideInRight{
	left: 100%;
	-webkit-animation: slideIn 1s forwards;
	animation: slideIn 1s forwards;
}

.slideInLeft{
	left: 100%;
	-webkit-animation: slideIn 1s forwards;
	animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft{
	100%{ left: -100%; }
}

@keyframes slideOutLeft{
	100%{ left: 100%; }
}

.slideOutLeft{
	-webkit-animation: slideOutLeft 1s forwards;
	animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight{
	100%{ left: 100%; }
}

@keyframes slideOutRight{
	100%{ left: 100%; }
}

.slideOutRight{
	-webkit-animation: slideOutRight 1s forwards;
	animation: slideOutRight 1s forwards;
}

.slider-button{
	background-color:#4CA74C;
	color: White;
	border: 0;
	border-radius: 5px;
}